:root {
  --main-menu-background: rgba(255, 255, 255, 1);
  --nav-height: 64px;
  --title-algue: 64px;
  --main-black: rgb(0, 0, 0, 1);
  --main-white: rgba(255, 255, 255, 1);
  --main-color-normal: rgba(82, 159, 45, 1);
  --main-color-light: rgba(201, 232, 186, 1);
  --main-color-dark: rgba(54, 102, 31, 1);
  --main-color-text-normal:rgba(11, 159, 172, 1);
  --main-color-text-light: rgba(223, 242, 240, 1);
  --main-color-text-dark: rgba(26, 45, 16, 1);
  --seaweed-color-verte: rgba(111, 139, 0, 1);
  --seaweed-color-brune: rgba(162, 104, 72, 1);
  --seaweed-color-rouge: rgba(196, 8, 8, 1);
  --cycle-1: rgba(11, 159, 172, 1);
  --cycle-2: rgba(200, 200, 200, 1);
  --cycle-3: rgba(255, 255, 255, 1);
}

* {
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 14px;
}

.main-menu-background {
  background-color: var(--main-menu-background);
}
.main-color-text-dark {
  color: var(--main-color-text-dark);
}
.main-color-dark {
  color: var(--main-color-dark);
}
.main-white {
  background-color: var(--main-white);
}
.main-black {
  background-color: var(--main-black);
}
.main-color-normal {
  background-color: var(--main-color-normal);
}
.main-color-light {
  background-color: var(--main-color-light);
}
.seaweed-color-verte {
  background-color: var(--seaweed-color-verte);
  color: var(--main-white);
}
.seaweed-color-brune {
  background-color: var(--seaweed-color-brune);
  color: var(--main-white);
}
.seaweed-color-rouge {
  background-color: var(--seaweed-color-rouge);
  color: var(--main-white);
}

.seaweed-color-rouge-liseret {
  border-right: solid 6px var(--seaweed-color-rouge);
}
.seaweed-color-brune-liseret {
  border-right: solid 6px var(--seaweed-color-brune);
}
.seaweed-color-verte-liseret {
  border-right: solid 6px var(--seaweed-color-verte);
}

.seaweed-color-text-rouge {
  color: var(--seaweed-color-rouge);
}
.seaweed-color-text-brune {
  color: var(--seaweed-color-brune);
}
.seaweed-color-text-verte {
  color: var(--seaweed-color-verte);
}

body,
html {
  height: 100%;
  width: 100%;
  line-height: 1;
  overflow: hidden;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

h1 {
  padding: 8px;
  margin: 4px;
  text-align: center;
  font-size: 20px;
  color: var(--main-color-dark);
}

h2 {
  padding: 0px;
  margin: 2px;
  font-size: 18px;
}

h3 {
  padding: 4px;
  margin: 2px;
  font-size: 16px;
  color: var(--main-color-dark);
  font-weight: bold;
}

p {
  padding: 4px;
  margin: 4px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

div ul {
  margin: 8px 12px 8px 8px;
}

div ul li {
  line-height: 1.4;
  list-style-type: square;
}

li.todo {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li.todo label {
  padding: 4px;
  margin: 4px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-one {
  flex: 1;
}

.flex-two {
  flex: 2;
}
.flex-three {
  flex: 3;
}

.star {
  width: 16px;
  height: 16px;
}

div.flex-one img {
  padding: 8px;
}

.w3-btn-macdonalgue {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.full {
  height: 100%;
  width: 100%;
}

.flex-column-center-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-menu-background);
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--main-menu-background);
}

.w3-padding-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.w3-margin-0 {
  font-size: 14px;
  margin: 0px !important;
}

.w3-padding-0 {
  padding: 0px !important;
}

/* Splash and menu */

.logo-splash {
  width: 50%;
}

button.button-menu {
  background-color: var(--main-color-light);
  border: solid 2px var(--main-color-normal);
  color: var(--main-color-text-dark) !important;
  width: calc(100% - 32px);
  font-size: 24px;
  height: 100px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px !important;
}

button.button-menu:hover {
  background-color: var(--main-white) !important;
  color: var(--main-white) !important;
  border: solid 2px var(--main-color-normal) !important;
}

button.button-menu img {
  width: 60px;
  height: 60px;
}

button.w3-button:hover {
  background-color: var(--main-color-normal) !important;
  color: var(--main-white) !important;
}

.text-intro {
  padding: 8px 8px;
  font-size: 14px;
  margin: 0px 16px 0px 16px;
  text-align: justify;
  color: var(--main-color-text-dark);
  line-height: 1.5;
}

/* Nav */

.macdonalgue-height-nav {
  width: 100%;
  height: calc(100% - var(--nav-height));
  padding: 0px;
  margin: 0px;
}

.macdonalgue-height-nav-algue {
  width: 100%;
  height: calc(100% - var(--nav-height) - var(--title-algue));
  padding: 0px;
  margin: 0px;
}

div.macdonalgue-nav {
  width: 100%;
  height: var(--nav-height);
  background-color: var(--main-white);
  border-top: 6px solid var(--main-color-normal);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

div.macdonalgue-seaweed {
  background-color: var(--main-white);
  border-top: 6px solid var(--main-color-normal);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

div.w3-bar img {
  width: 48px;
}

div.w3-bar button {
  padding: 10px 10px !important;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Mapbox + plages */

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--nav-height));
}

#map:before,
#map:after,
#map canvas {
  box-sizing: border-box !important;
}

.marker-pollution {
  background-repeat: no-repeat;
  top: -15px !important;
  position: relative;
}

/* Lists */

.espece,
.recepie {
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.recepie > div {
  flex: 4;
  margin: 2px;
}

.recepie > a {
  flex: 2;
  margin: 2px;
  border-radius: 0px;
}

.recepie a {
  line-height: 1.4;
}

.espece a {
  width: 100%;
  border-radius: 0px;
}

.lightItem {
  background-color: var(--main-white);
  color: var(--main-color-text-dark);
}

.lightItem:hover {
  background-color: var(--main-color-normal) !important;
  color: var(--main-color-text-dark) !important;
}

.darkItem {
  background-color: var(--main-color-light);
  color: var(--main-color-text-dark);
}

.darkItem:hover {
  background-color: var(--main-color-normal) !important;
  color: var(--main-color-text-dark) !important;
}

span.count {
  padding: 4px;
  display: block;
}

/* content listes + fiches */

.content-color {
  background-color: var(--main-white);
  color: var(--main-color-text-dark);
  text-align: justify;
}

.thumbail {
  object-fit: cover;
  width: 64px;
  height: 64px;
  border: none;
  outline: none;
}

.flex-line-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.listContent {
  padding: 4px 0px 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}


.listContentAlgue {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.small-text i {
  font-size: 12px;
}

.harvest {
  margin-right: 12px;
}

/* Fiche recette et espece */

.w3-height-images {
  height: 30%;
  background-size: cover;
  overflow: hidden;
  padding: 0px !important;
  width: 100% !important;
  margin: 0px !important;
}

/* Fiche recette */

.span-recepie {
  padding: 4px;
  display: block;
}

.w3-inline {
  display: inline !important;
}

.ingredient {
  list-style-type: none;
  display: block;
}

.ingredient img {
  width: 10px;
  height: 10px;
  vertical-align: middle;
}

.todo img {
  width: 16px;
  height: auto;
}

/* Fiche Algue */

.specie-title {
  height: var(--title-algue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: var(--main-color-normal);
  border-bottom-width: 1px;
  background-color: var(--main-white) !important;
}

.tags {
  display: inline-flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.w3-tag {
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 2px;
  font-weight: bold;
}

.funfact {
  padding: 8px;
  margin-top: 0px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: var(--main-white);
  border-left-width: 6px;
  border-left-style: solid;
}

.funfact-color-verte {
  border-left-color: var(--seaweed-color-verte);
}

.funfact-color-brune {
  border-left-color: var(--seaweed-color-brune);
}

.funfact-color-rouge {
  border-left-color: var(--seaweed-color-rouge);
}

.name {
  padding: 4px 4px 0px;
  margin: 0px;
  font-weight: bolder;
  color: var(--main-color-text-dark);
}

.nameScience {
  font-weight: none !important;
  font-style: italic;
  padding: 4px 4px 0px;
  margin: 0px;
}

img.image-tour {
  max-width: 100%;
  height: auto;
}

/* slide show */

.img-slide-seaweed {
  display: none;
  cursor: pointer;
}

.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}

.w3-badge {
  height: 14px;
  width: 14px;
  padding: 0px;
  margin: 8px 0px 0px 8px;
}

.w3-border-macdonalgue {
  border: 2px solid var(--main-white) !important;
}

.cycle {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cycle td {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  color: var(--main-black);
  text-align: center;
}

.cycle-legende {
  padding: 10px;
  color: var(--main-black);
  text-align: center;
}

.flex-row-cycle {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  vertical-align: middle;
  justify-content: space-evenly;
  margin-top: 8px;
}

.cycle-0 {
  background-color: pink;
}

.cycle-1 {
  background-color: var(--cycle-1);
  font-weight: bold;
  font-size: 16px;
}

.cycle-2 {
  background-color: var(--cycle-2);
  font-size: 10px;
}

.cycle-3 {
  background-color: var(--cycle-3);
  font-size: 10px;
}

.nutriment {
  margin: 8px;
  width: calc(100% - 16px);
  border-collapse: collapse;
}

tr.nutriment-header,
nutriment-header td {
  border: none;
  padding: 10px;
  background-color: var(--main-white);
  font-weight: bold;
  font-size: 14px;
}

tr.nutriment-1,
nutriment-1 td {
  border: none;
  padding: 10px;
  background-color: var(--main-color-light);
  margin: 8px;
}

tr.nutriment-2,
nutriment-2 td {
  border: none;
  padding: 10px;
  background-color: var(--main-white);
  margin: 8px;
}

.conditions {
  line-height: 1.4;
  color: var(--main-color-text-dark)
}

#tab-4 {
  display: flex;
  font-size: 16px;
  justify-content: center;
}

.cell {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
}

ul.apropos {
  text-align: left;
}

@media only screen and (max-width: 340px) {
  .button-menu {
    font-size: 18px !important;
    height: 80px !important;
  }

  .logo-menu {
    width: 100px !important;
  }

  button.button-menu img {
    width: 20px !important;
    height: 20px !important;
  }
}

/* Modal */

.close-modal {
  width: 100px;
  background-color: var(--main-color-normal);
  color: var(--main-white);
  margin: 4px;
}

.close-modal:hover {
  width: 100px;
  background-color: var(--main-color-normal);
  color: var(--main-color-text-dark) !important;
  margin: 4px;
}


/* LOGO */

#svg-logo {
  height: 160px;
}

.display-none {
  display: none;
}

.w3-animate-opacity {
  animation: opac 2.3s
}

.w3-animate-opacity-logo {
  animation: opac 4s
}

.w3-animate-opacity-seaweed {
  animation: opac 2s
}

@keyframes opac {
  from {
      opacity: 0
  }
  to {
      opacity: 1
  }
}

.anim-brun-rouge {
  animation-name: brunrouge;
  animation-duration: .12s;
}
.anim-brun-vert {
  animation-name: brunvert;
  animation-duration: .12s;
}
.anim-vert-rouge {
  animation-name: vertrouge;
  animation-duration: .12s;
}
.anim-vert-brun {
  animation-name: vertbrun;
  animation-duration: .12s;
}
.anim-rouge-brun {
  animation-name: rougebrun;
  animation-duration: .12s;
}
.anim-rouge-vert {
  animation-name: rougevert;
  animation-duration: .12s;
}


.anim-brun-rouge-slow {
  animation-name: brunrouge;
  animation-duration: 1.2s;
}
.anim-brun-vert-slow {
  animation-name: brunvert;
  animation-duration: 1.2s;
}
.anim-vert-rouge-slow {
  animation-name: vertrouge;
  animation-duration: 1.2s;
}
.anim-vert-brun-slow {
  animation-name: vertbrun;
  animation-duration: 1.2s;
}
.anim-rouge-brun-slow {
  animation-name: rougebrun;
  animation-duration: 1.2s;
}
.anim-rouge-vert-slow {
  animation-name: rougevert;
  animation-duration: 1.2s;
}

@keyframes vertrouge {
  from {
      fill: rgb(212, 225, 39);
  }
  to {
      fill: rgb(196, 8, 8);
  }
}
@keyframes vertbrun {
  from {
      fill: rgb(212, 225, 39);
  }
  to {
      fill: rgb(162, 104, 72);
  }
}
@keyframes rougevert {
  from {
      fill: rgb(196, 8, 8);
  }
  to {
      fill: rgb(212, 225, 39);
  }
}
@keyframes rougebrun {
  from {
      fill: rgb(196, 8, 8);
  }
  to {
      fill: rgb(162, 104, 72);
  }
}
@keyframes brunvert {
  from {
      fill: rgb(162, 104, 72);
  }
  to {
      fill: rgb(212, 225, 39);
  }
}
@keyframes brunrouge {
  from {
      fill: rgb(162, 104, 72);
  }
  to {
      fill: rgb(196, 8, 8);
  }
}

/* share */

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

.full-width-logo {
  width: calc(100% - 32px);
  max-width: 795px;
  max-height: 273px;
  width: 100%;
}

.auteur ul > li
{
    list-style-type: none;
}