{% for algue in algues %}
    <div class="espece">
        <a href="/algue/{{ algue.slug }}" class="w3-button w3-padding-0 w3-margin-0 flex-line-list {{forloop.counter|divisibleby:2|yesno:"lightItem,darkItem"}}">

            <div class="seaweed-color-{{ algue.get_couleur_display }}-liseret">
                <img class="thumbail" src="/media/{{ algue.miniature.image }}"/>
            </div>

            <div class="listContentAlgue">
                <div class="listContent">
                    <span><b>{{ algue.nom }}</b></span>
                    <span class="small-text"><i>{{ algue.nom_scientifique }}</i></span>
                </div>

                {% if algue.harvest %}
                    <div class="harvest">
                        <span class="w3-tag w3-small seaweed-color-{{ algue.get_couleur_display }}">#RécolteNow!</span>
                    </div>
                {% endif %}
            </div>
        </a>
    </div>
{% endfor %}