{% extends 'base.html' %}
{% load static %}
{% block title %}Consomalgues | Algue{% endblock %}
{% block body_class %}
content-color
{% endblock %}
{% block content %}
<div class="specie-title">
    <h1 class="name">{{ algue.nom }} <i>{{ algue.nom_scientifique }}</i></h1>
    <h2 class="seaweed-color-text-{{ algue.get_couleur_display }}" id="onglet">Signalétique</h2>
</div>
<div class="w3-container macdonalgue-height-nav-algue main-menu-background" style="overflow: auto;">
        <div style="overflow: auto;">

            <div id="tab-1" class="content-specie">
                <div class="w3-content w3-display-container" style="max-width:800px; width: 100%; height: 100%; display: block;">
                    {% for photo in photos %}
                        <img class="img-slide-seaweed noselect" src="/media/{{ photo.image }}" style="width:100%" />
                    {% endfor %}
                    <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                        {% for photo in photos %}
                            <span class="w3-badge dot-img-seaweed w3-border-macdonalgue w3-transparent noselect"></span>
                        {% endfor %}
                    </div>
                </div>
                <p class="tags">
                    {% if categorieTags %}
                        {% for cat in categorieTags %}
                        <span class="w3-tag w3-small seaweed-color-{{ algue.get_couleur_display }}">#{{ cat | title}}</span>
                        {% endfor %}
                    {% endif %}
                </p>
                {% if algue.funfact %}
                    <p class="funfact funfact-color-{{ algue.get_couleur_display }}">{{ algue.funfact }}</p>
                {% endif %}
            </div>

            <div id="tab-2" class="content-specie" style="display:none">
                <p class="tags">
                    <span class="w3-tag w3-small seaweed-color-{{ algue.get_couleur_display }}">#{{ algue.get_couleur_display | title}}</span>
                    <span class="w3-tag w3-small seaweed-color-{{ algue.get_couleur_display }}">#Subrstrat{{ algue.get_substrat_display | title}}</span>
                    <span class="w3-tag w3-small seaweed-color-{{ algue.get_couleur_display }}">#{{ algue.taille_adulte }} (adulte)</span>
                </p>
                <h3 class="seaweed-color-text-{{ algue.get_couleur_display }}">Description et Silhouette</h3>
                <div class="flex-row">
                    {% if algue.description %}
                    <div class="flex-three">
                        <p class="funfact funfact-color-{{ algue.get_couleur_display }}">{{ algue.description }}</p>
                    </div>
                {% endif %}
                    {% if algue.silhouette_forme %}
                        <div class="flex-center flex-two">
                            <img src="{{ algue.silhouette_forme.image.url }}" style="width: calc(100% - 12px);"/>
                        </div>
                    {% endif %}
                </div>

                {% if algue.habitat %}
                    <h3 class="seaweed-color-text-{{ algue.get_couleur_display }}">Habitat</h3>
                    <p class="funfact funfact-color-{{ algue.get_couleur_display }}">{{ algue.habitat }}</p>
                {% endif %}

                {% if algue.emplacement_estran %}
                    <h3 class="seaweed-color-text-{{ algue.get_couleur_display }}">Emplacement sur l'estran</h3>
                    <img src="{{ algue.emplacement_estran.image.url }}" width="100%"/>
                {% endif %}
            </div>

            <div id="tab-3" class="content-specie" style="display:none">
                <h3 class="seaweed-color-text-{{ algue.get_couleur_display }}">Période idéale de récolte</h3>
                <div id="cycle">
                    <script>
                        createCycle('{{ algue.disponibilite }}');
                    </script>
                    <div class="flex-row-cycle">
                        <div class="cycle-legende cycle-1 flex-row">Récolte conseillée</div>
                        <div class="cycle-legende cycle-2 flex-row">Récolte possible</div>
                        <div class="cycle-legende cycle-3 flex-row">Non disponible</div>
                    </div>
                </div>
                {% if algue.periode_recolte_legale %}
                    <p>Récolte autorisée du {{ algue.periode_recolte_legale }}</p>
                {% endif %}

                <h3 class="seaweed-color-text-{{ algue.get_couleur_display }}">Conseils de récolte</h3>
                {% if algue.recolte_description %}
                    <p class="funfact funfact-color-{{ algue.get_couleur_display }}">{{ algue.recolte_description }}</p>
                {% endif %}
                {% if algue.recolte_taille %}
                    <p>Taille autorisée : {{ algue.recolte_taille }}</p>
                {% endif %}

                {% if algue.recolte_position_coupe %}
                    <h3 class="seaweed-color-text-{{ algue.get_couleur_display }}">Position de coupe</h3>
                    <div class="flex-center flex-two">
                        <img src="{{ algue.recolte_position_coupe.image.url }}" style="width: 50%;"/>
                    </div>
                {% endif %}
                </div>

            <div id="tab-4" class="content-specie" style="display:none">
                <p class="tags">
                    {% if categorieNutritionTags %}
                        {% for cat in categorieNutritionTags %}
                        <span class="w3-tag w3-small seaweed-color-{{ algue.get_couleur_display }}">#{{ cat | title}}</span>
                        {% endfor %}
                    {% endif %}
                </p>
                {% if algue.nutrition_description %}
                    <p class="funfact funfact-color-{{ algue.get_couleur_display }}">{{ algue.nutrition_description }}</p>
                {% endif %}

                {% if nutriments %}
                    <h3 class="seaweed-color-text-{{ algue.get_couleur_display }}">Composition (algue sèche)</h3>
                    <table class="nutriment">
                        <tr class="nutriment-header">
                            <td class="cell">Nutriments</td>
                            <td class="cell">Quantité (100g)</td>
                            <td class="cell">% <br/>AJR</td>
                            <td class="cell">Qualité nutritionnelle</td>
                        </tr>
                        {% for nutriment in nutriments %}
                                <tr class="{% cycle 'nutriment-1' 'nutriment-2' %}">
                                {% for cell in nutriment %}
                                    <td class="cell">
                                        {% if '*' in cell %}
                                            {% for c in cell %}
                                                {% if '*' in c %}
                                                    <img class="star" src="{% static 'img/star.png' %}"/>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {{ cell }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                </tr>
                        {% endfor %}

                    </table>

                    <table class="nutriment">
                        <tr>
                            <td class="cell">
                                <img class="star" src="{% static 'img/star.png' %}"/> faible
                            </td><td class="cell">
                                <img class="star" src="{% static 'img/star.png' %}"/>
                                <img class="star" src="{% static 'img/star.png' %}"/> moyenne
                            </td><td class="cell">
                                <img class="star" src="{% static 'img/star.png' %}"/>
                                <img class="star" src="{% static 'img/star.png' %}"/>
                                <img class="star" src="{% static 'img/star.png' %}"/> élévée
                        </tr>
                    </table>

                    <table class="nutriment">
                        <tr>
                            <td class="cell">
                                <img class="star" src="{% static 'img/star.png' %}"/>
                                <img class="star" src="{% static 'img/star.png' %}"/>
                                <img class="star" src="{% static 'img/star.png' %}"/>
                                <img class="star" src="{% static 'img/star.png' %}"/> très élévée
                            </td>
                            <td class="cell">
                                <img class="star" src="{% static 'img/star.png' %}"/>
                                <img class="star" src="{% static 'img/star.png' %}"/>
                                <img class="star" src="{% static 'img/star.png' %}"/>
                                <img class="star" src="{% static 'img/star.png' %}"/>
                                <img class="star" src="{% static 'img/star.png' %}"/> phénoménal
                            </td>
                        </tr>
                    </table>

                    <table class="nutriment"><tr><td>
                        AJR : Apport Journalier Recommandé pour un adulte-type (8400kJ/2000kcal)
                    </td></tr></table>

                {% endif %}
            </div>

            <div id="tab-5" class="content-specie" style="display:none">
                <div>
                	{% if recettes %}
                        {% include "recettes_liste.html" %}
        			{% endif %}
                </div>
            </div>

        </div>
    </div>
    <div class=" w3-bar w3-text-white macdonalgue-seaweed">
        <button class="w3-bar-item w3-button main-transparent" onclick="openPage(event, '/menu');">
            <img src="{% static 'img/icon-homex256-primary-vert.png' %}">
        </button>
        <button id="tab-1-icon" class="w3-bar-item w3-button" onclick="changeTab('tab-1', 'Signalétique')">
            <img src="{% static 'img/icon-seaweedx256-primary-vert.png' %}">
        </button>
        <button id="tab-2-icon" class="w3-bar-item w3-button" onclick="changeTab('tab-2', 'Identification')">
            <img src="{% static 'img/icon-loupex256-primary-vert.png' %}">
        </button>
        <button id="tab-3-icon" class="w3-bar-item w3-button" onclick="changeTab('tab-3', 'Bonne pratique de récolte')">
            <img src="{% static 'img/icon-scissorsx256-primary-vert.png' %}">
        </button>
        <button id="tab-4-icon" class="w3-bar-item w3-button" onclick="changeTab('tab-4', 'Alimentation')">
            <img src="{% static 'img/icon-pillx256-primary-vert.png' %}">
        </button>
        <button id="tab-5-icon" class="w3-bar-item w3-button" onclick="changeTab('tab-5', 'Recettes')">
            <img src="{% static 'img/icon-cookx256-primary-vert.png' %}">
        </button>
    </div>

    <script>
        let touchstartX = 0;
        let touchendX = 0;
        var slideIndex = 1;
        const initPage = () => {
            // init image
            let imgs = document.getElementsByClassName('img-slide-seaweed')
            let useTouch = false;
            try {
                useTouch = 'ontouchstart' in document.documentElement;
            } catch(e) {

            }

            for (const img of imgs ) {
                if (useTouch) {
                    img.addEventListener('touchstart', function(event) {
                        touchstartX = event.changedTouches[0].screenX;
                        touchstartY = event.changedTouches[0].screenY;
                    }, false);

                    img.addEventListener('touchend', function(event) {
                        touchendX = event.changedTouches[0].screenX;
                        touchendY = event.changedTouches[0].screenY;
                        handleGesture();
                    }, false);
                } else {
                    img.addEventListener('click', nextImg.bind(this, 1));
                }
            }
            showImg(slideIndex);

            // init content
            changeTab('tab-1', 'Signalétique');
        }
        document.addEventListener("DOMContentLoaded", initPage);
    </script>
</div>
{% endblock %}