{% extends 'base.html' %}
{% load static %}
{% block title %}Consomalgues | A propos{% endblock %}
{% block body_class %}
content-color
{% endblock %}
{% block content %}
    <div class="w3-container macdonalgue-height-nav" style="overflow: auto;">
        <h3>Génèse du projet</h3>
        <p class="text-intro">
            Ce projet, porté par Solène Niqueux et plusieurs étudiants de l'UBS a débuté lors du Hackathon de la mer 2020, à Brest, sous le nom de macdonalgue.</a>
        </p>
        <p class="text-intro">
            Pour toute question, proposition de partenariat ou aide ponctuelle (contenu, recensement, test/bug), contactez l'équipe <a target="_blank" href="mailto:macdonalgue@gmail.com">consomalgues@gmail.com</a>.
        </p>

        <h3>Equipe</h3>
        <ul class="apropos">
            <li>Solène - Responsable projet</li>
            <li>Yannis - Responsable plages (spécialiste algues)</li>
            <li>Eléa - Responsable recettes (spécialiste algues)</li>
            <li>Armaëlle - Responsable algues (spécialiste algues)</li>
            <li>Laura (généraliste littoral)</li>
            <li>Valentin (généraliste littoral)</li>
            <li>Alan (spécialiste algues)</li>
            <li>Loïc - Responsable technique</li>
            <li>Dorian (développement logiciel)</li>
        </ul>

        <h3>Version de l'application</h3>
        <p class="text-intro">
            L'ensemble des données intégrées dans cette version (1.0) ont été vérifiée le 24/03/2021
        </p>

        <h3>Sources</h3>
        <p class="text-intro">
            Les données de l'application sont mises à jour régulièrement. Toutes les données de l'application sont issues de sources publiques libres dans un contexte d'utilisation gratuit. Voici la liste des sources utilisées :</a>
        </p>
        <ul>
            <li><a target="_blank" href="https://www.ceva-algues.com/document/">Site du CEVA</a></li>
            <li><a target="_blank" href="http://www.bretagne-peches.org/?titre=programme-biomasse-algues&mode=peche-a-pied&id=366">Rapport programme biomasse 2016-2019 du comité des pêches</a></li>
            <li><a target="_blank" href="https://www.finistere.gouv.fr/content/download/31817/240435/file/R53-2019-04-29-001_r%C3%A9colte_algues_Bretagne.pdf">Arrêté R53-2019-04-29-001 relatif à la récolte des algues en Bretagne</a></li>
            <li><a target="_blank" href="http://www.pecheapied-responsable.fr/">Site pêche à pied responsable (informations sanitaires)</a></li>
            <li><a target="_blank" href="https://meteofrance.com/">METEO France</a></li>
            <li><a target="_blank" href="http://maree.info">Maree Info</a></li>
        </ul>

        <h3>Avertissement</h3>
        <p class="text-intro">
            Cette application est optimisée pour les téléphones et les smartphones. Elle fonctionnera sur tablette et ordinateur mais ce sera moins joli !
        </p>
        <p class="text-intro">
            Les informations fournies, bien que sourcées et vérifiées, sont à titre informatif. L'application est réalisée par une équipe strictement bénévole, aucun acteur ne pourra être tenu comme responsable en cas de problème ou d'accident. Soyez attentifs, vérifiez vos sources et restez prudent !</a>
        </p>


    </div>
{% endblock %}