<!DOCTYPE html>
{% load static %}
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YFGC95N2TT"></script>
  <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-YFGC95N2TT'); </script>

  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
  <meta name="title" property="og:title" content="Consomalgues">
  <meta name="image" property="og:image" content="{% static 'networks/consomalgues.fr-recolte.jpg' %}">
  <meta name="description" property="og:description" content="Consomalgues, le site qui vous permet d'apprendre à identifier, trouver et consommer les algues du littoral breton !">
  <meta name="author" content="Brest Ocean Hackathon 2020 : Macdonalgue team">
  <meta name="url" content="https://consomalgues.fr">
  <meta name="keywords" content="algue, algues, seaweed, seaweeds, plage, plages, recette, recettes, sain, santé, avenir, futur, nourriture, alimentation, ecologie, bien-etre, progres">
  <title>{% block title %}Consomalgues{% endblock %}</title>
  <style>
    @font-face {
      font-family: 'Roboto';
      src: url('{% static 'fonts/Roboto-Regular.ttf' %}');
    }
  </style>

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/macdonalgue.css' %}">
  {% block style %}
  {% endblock %}
  {% block script %}
  {% endblock %}
  <script src="{% static 'js/macdonalgue.js' %}"></script>
</head>
<body class="{% block body_class %}flex-column-center{% endblock %}">
  {% block content %}
  {% endblock %}
  {% if request.path != '/' and request.path != '/menu/' and '/algue' not in request.path %}
  {% block menu %}
    <div class=" w3-bar w3-text-white w3-white macdonalgue-nav">
        <button class="w3-bar-item w3-button" onclick="openPage(event, '/menu');">
            <img src="{% static 'img/icon-homex256-primary-vert.png' %}">
        </button>
        <button class="w3-bar-item w3-button {% if 'identifier' in request.path %}main-color-normal{% endif %}" onclick="openPage(event, '/identifier');">
            <img src="{% static 'img/icon-seaweedx256-primary-vert.png' %}">
        </button>
        <button class="w3-bar-item w3-button {% if 'trouver' in request.path %}main-color-normal{% endif %}" onclick="openPage(event, '/trouver');">
            <img src="{% static 'img/icon-mapx256-primary-vert.png' %}">
        </button>
        <button class="w3-bar-item w3-button {% if 'cuisiner' in request.path %}main-color-normal{% endif %}" onclick="openPage(event, '/cuisiner');">
            <img src="{% static 'img/icon-cookx256-primary-vert.png' %}">
        </button>
      </div>
    {% endblock %}
    {% endif %}
</body>
</html>