{% extends 'base.html' %}
{% load static %}
{% block title %}Consomalgues | Cuisiner{% endblock %}
{% block body_class %}
content-color
{% endblock %}
{% block content %}
<div class="w3-container macdonalgue-height-nav" style="overflow: auto;">
        <!--
        <div class="search">
            <input class="w3-input w3-padding-8 w3-margin-0 w3-border w3-round-large" type="text"
                placeholder="Vous recherchez...">
            <button class="w3-btn w3-padding-8 w3-margin-0 w3-border w3-round-large">Chercher</button> -
        </div>
        -->
        <h1>Les recettes</h1>
        <span class="count">{{ recettes |length }} recettes répertoriées</span>
        {% include "recettes_liste.html" %}
    </div>
{% endblock %}