{% extends 'base.html' %}
{% load static %}
{% block title %}Consomalgues | Home{% endblock %}

{% block content %}
<a href="/menu" class="flex-column-center-home full">
  <img
    class="w3-animate-zoom w3-animate-opacity logo-splash"
    src="{% static 'img/consomalgues-logo-notext-optim.svg' %}"
  />
</a>
<script type="text/javascript">
  const goToMenu = () => {
    setTimeout(() => {
      window.location = "/menu/";
    }, 1500);
  };
  document.addEventListener("DOMContentLoaded", goToMenu);
</script>
{% endblock %}