{% extends 'base.html' %} {% load static %} {% block title %}Consomalgues |
Home{% endblock %} {% block content %}

<img src="{% static 'img/consomalgues.png' %}" class="full-width-logo" />

<p class="text-intro">
  Bienvenue sur le site qui vous permet d'apprendre à identifier, trouver et
  consommer les algues !
</p>

<button
  class="w3-button w3-padding-8 w3-margin button-menu"
  onclick="openPage(event, '/identifier')"
>
  <img src="{% static 'img/icon-seaweedx256-primary-vert.png' %}" />
  &nbsp;&nbsp;&nbsp;Les algues
</button>
<button
  class="w3-button w3-padding-8 w3-margin button-menu"
  onclick="openPage(event, '/trouver')"
>
  <img src="{% static 'img/icon-mapx256-primary-vert.png' %}" />&nbsp;&nbsp;&nbsp;Les
  plages
</button>
<button
  class="w3-button w3-padding-8 w3-margin button-menu"
  onclick="openPage(event, '/cuisiner')"
>
  <img src="{% static 'img/icon-cookx256-primary-vert.png' %}" />
  &nbsp;&nbsp;&nbsp;Les recettes
</button>
<button
  class="w3-button w3-padding-8 w3-margin button-menu"
  onclick="openPage(event, '/apropos')"
>
  <img src="{% static 'img/icon-aproposx256-primary-vert.png' %}" />
  &nbsp;&nbsp;&nbsp;A propos
</button>

<div id="mobile-popup" class="w3-modal">
  <div class="w3-modal-content">
      <div class="w3-container w3-padding-16 flex-column-center-home">
        <p class="conditions" style="text-align: justify;">
          Cette application est optimisée pour les téléphones et les smartphones. Nous vous conseillons de changer de matériel pour une expérience plus confortable.
        </p>
        <p id="mobile-popup-materiel" class="conditions"></p>
        <span onclick="document.getElementById('mobile-popup').style.display='none'"
        class="w3-button button-menu" style="width: 100%;">Compris !</span>
      </div>
  </div>
</div>

{% endblock %}
