{% extends 'base.html' %}
{% load static %}
{% block title %}Consomalgues | Recette{% endblock %}
{% block body_class %}
content-color
{% endblock %}
{% block content %}
<div class="w3-container macdonalgue-height-nav" style="overflow: auto;">
        <div style="overflow: auto;" class="main-menu-background">
            <div class="specie-title">
                <h1 class="name">{{ recette.nom }}</h1>
                <span class="span-recepie">
                    {{ recette.get_difficulte_display }} -
                    {{ recette.temps }} -
                    {{ recette.personnes }}
                    {% if recette.personnes == 1 %}
                        personne
                    {% else %}
                        personnes
                    {% endif %} -
                    {{ recette.get_type_display }}
                </span>
            </div>
            <!--
            <div id='images' class="w3-container w3-white w3-height-images">
            </div>
            -->

            <div class="w3-content w3-display-container" style="max-width:800px; width: 100%; height: 100%; display: block;">
                {% for photo in photos %}
                    <img class="img-slide-seaweed noselect" src="/media/{{ photo.image }}" style="width:100%" />
                {% endfor %}
                <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                    {% for photo in photos %}
                        <span class="w3-badge dot-img-seaweed w3-border-macdonalgue w3-transparent noselect"></span>
                    {% endfor %}
                </div>
            </div>

            <div class="flex-center">
                {% include "share.html" %}
            </div>

            <div>
                <h3>Ingrédients</h3>
                <ul>
                	{% for ingredient in ingredients %}
                    <li class="ingredient">
                        <img class="ingredientImg noselect" src="{% static 'img/puce-carre-color-vert.png' %}" /> {{ ingredient }}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h3>Préparation</h3>
                <ul>
                	{% for etape in etapes %}
                    <li class="todo">
                        <img id="todo-{{forloop.counter}}" class="noselect" src="{% static 'img/checkbox-nocheck-color-vert.png' %}" onclick="checkUncheckStep('todo-{{forloop.counter}}');"/>
                        <label for="todo{{forloop.counter}}" onclick="checkUncheckStep('todo-{{forloop.counter}}');">{{ etape }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% if recette.auteur_name %}
            <div class="auteur">
                <h3>Par {{ recette.auteur_name }}</h3>
                <ul>
                    {% if recette.auteur_web %}<li><a href="{{ recette.auteur_web }}" target="_blank">{{ recette.auteur_web }}</a></li>{% endif %}
                </ul>
            </div>
            {% endif %}

        </div>
</div>
<script>
    /* old mecanism
    // let currentImage = 0
	// let images = ['/media/{{ recette.photo.image }}']
	// loadImage();
    */

    let touchstartX = 0;
    let touchendX = 0;
    var slideIndex = 1;
    const initPage = () => {
        // init image
        let imgs = document.getElementsByClassName('img-slide-seaweed')
        let useTouch = false;
        try {
            useTouch = 'ontouchstart' in document.documentElement;
        } catch(e) {

        }

        for (const img of imgs ) {
            if (useTouch) {
                img.addEventListener('touchstart', function(event) {
                    touchstartX = event.changedTouches[0].screenX;
                    touchstartY = event.changedTouches[0].screenY;
                }, false);

                img.addEventListener('touchend', function(event) {
                    touchendX = event.changedTouches[0].screenX;
                    touchendY = event.changedTouches[0].screenY;
                    handleGesture();
                }, false);
            } else {
                img.addEventListener('click', nextImg.bind(this, 1));
            }
        }
        showImg(slideIndex);
    }
    document.addEventListener("DOMContentLoaded", initPage);
</script>


{% endblock %}