{% for recette in recettes %}
<div class="recepie">
    <a href="/recette/{{ recette.slug }}" class="w3-button w3-padding-0 w3-margin-0 flex-line-list {{forloop.counter|divisibleby:2|yesno:"lightItem,darkItem"}}">
        <div>
        <img class="thumbail" src="/media/{{ recette.miniature.image }}"/>
        </div>
        <div class="listContent">
            <span><b>{{ recette.nom }}</b></span>
            <span>
                {{ recette.get_difficulte_display }} -
                {{ recette.temps }} -
                {{ recette.personnes }}
                {% if recette.personnes == 1 %}
                    personne
                {% else %}
                    personnes
                {% endif %} -
                {{ recette.get_type_display }}
            </span>
        </div>
    </a>
</div>
{% endfor %}