{% extends 'base.html' %}
{% load static %}
{% block title %}Consomalgues | Trouver{% endblock %}
{% block style %}
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
{% endblock %}
{% block script %}
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
{% endblock %}
{% block content %}
<div class="w3-container macdonalgue-height-nav">
    <div id="map"></div>
    <div id="map-content"></div>
</div>
<div id="detail-beach" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container w3-padding-16 main-menu-background">
                <span onclick="document.getElementById('detail-beach').style.display='none'"
                    class="w3-button w3-display-topright close-modal">Fermer</span>
                <h2 id="detail-beach-content" class="main-color-dark"></h2>
                <!-- <p id="detail-beach-maree"></p> -->
                <p id="detail-beach-maree" class="conditions"></p>
                <p class="conditions">La marée basse est le meilleur moment pour récolter des algues. Avant votre sortie, vérifiez la météo : <a href="https://meteofrance.com/"  target="_blank">https://meteofrance.com</a>, les horaires de marées : <a href="http://maree.info/"  target="_blank">http://maree.info</a> ainsi que les conditions sanitaires : <a href="https://www.pecheapied-responsable.fr/carte-interactive"  target="_blank">https://www.pecheapied-responsable.fr</a>.
                </p>
                <p id="detail-beach-species"></p>
            </div>
        </div>
    </div>
<script type="text/javascript">initMapbox();</script>
{% endblock %}